<!doctype html>
<!-- RIP Rónyai Marci (1978-2015) -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tilos Rádió 90,3MHz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="og:image" content="http://tilos.hu/images/kockalogo.png"/>
    <meta name="og:site_name" content="Tilos Rádió"/>
    <meta name="og:title" content="{{pageTitle}}"/>
    <meta name="og:description" content="{{pageDescription}}"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link href="/main.css" rel="stylesheet">
    <base href="/">

    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>


</head>
<body>

<div growl></div>


<div>
    <nav class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Navigáció</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="/#"> Tilos&nbsp;Rádió&nbsp;90,3&nbsp;MHz</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse container" ng-show="isCollapsed">
                <ul class="nav navbar-nav" ng-click="isCollapsed = !isCollapsed">
                    <li active-link="active"><a href="/index">Főoldal</a></li>
                    <li active-link="active"><a href="/shows">Műsorok</a></li>
                    <li active-link="active"><a th:href="'/episode/'+ ${today}">Archív</a></li>
                    <li active-link="active"><a href="/mixes/dj">Hangtár</a></li>
                    <li class="extra-menu">
                        <a href="#" class="dropdown-toggle extraLink" data-toggle="dropdown">Krónika</a>
                        <ul class="extra-menu-content">
                            <li active-link="active"><a href="/page/sajto-2017">Sajtó</a></li>
                            <li active-link="active"><a href="/page/maraton">Maraton</a></li>
                            <li active-link="active"><a href="/page/legendarium">Legendárium</a></li>
                            <li active-link="active"><a href="/page/memento">Mementó</a></li>
                            <li active-link="active"><a href="/page/tematikusnap">Tematikus napok</a></li>
                            <li active-link="active"><a href="/page/irasok">Írások</a></li>
                        </ul>
                    </li>
                    <li active-link="active" class="highlight"><a href="/page/tamogass">Támogass</a></li>
                    <li class="extra-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="more-button">+</div>
                        </a>
                        <ul class="extra-menu-content">
                            <li active-link="active"><a href="/page/extra">Extra</a></li>
                            <li active-link="active"><a href="/page/info">Infó</a></li>
                            <li active-link="active"><a href="/page/elerhetoseg">Elérhetőség</a></li>
                        </ul>
                    </li>
                    <li active-link="active" class="englishLink"><a href="/page/english">EN</a></li>


                    <li class="visible-xs"><a analytics-on analytics-category="listen" analytics-event="listen_256"
                                              href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos"
                                              target="_blank"><span>256</span> mp3</a></li>
                    <li class="visible-xs"><a analytics-on analytics-category="listen" analytics-event="listen_128"
                                              href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_128.mp3"
                                              target="_blank"><span>128</span> mp3</a></li>
                    <li class="visible-xs"><a analytics-on analytics-category="listen" analytics-event="listen_32"
                                              href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_32.mp3"
                                              target="_blank"><span>32</span> mp3</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" ng-controller="SearchBox" ng-submit="search()">
                    <div class="form-group">
                        <label for="search" class="sr-only">keresés a Tilos Rádió oldalán</label>
                        <input type="search" id="search" class="form-control" name="search" placeholder="keresés"
                               ng-model="term">
                    </div>
                    <button type="submit"><span class="icon-search"></span></button>
                </form>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- container -->
    </nav>

    <header class="main-header hidden-xs">
        <div class="container">
            <div class="row">
                <div class="brand-holder col-sm-5 col-md-6">
                    <a href="/">
                        <img src="/images/logo.png" alt="Tilos Rádió" class="logo">
                    </a>

                    <h1>Tilos&nbsp;Rádió&nbsp;90,3</h1>

                    <h5>
                        <a href="http://tilos.hu/page/faq">
                            <img src="https://tilos.hu/images/header-icons-faq.png">
                            <span class="header">FAQ</span>
                        </a>
                    </h5>

                </div>
                <div class="col-sm-offset-1 col-md-offset-0 col-sm-6 col-md-6 radio-holder">
                    <div class="radio-player">
                        <div class="col-sm-12 col-md-6 radio-info">
                            <h3>
                                <current-show></current-show>
                            </h3>
                        </div>
                        <div class="col-sm-12 col-md-6 radio-formatList">
                            <h4>HALLGASD ONLINE!<span class="active icon-loop"></span></h4>
                            <ul class="stream-chooser">

                                <li><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos" target="_blank"><span>256</span>
                                    mp3</a></li>
                                <li><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_128.mp3" target="_blank"><span>128</span>
                                    mp3</a></li>
                                <li><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_32.mp3" target="_blank"><span>32</span>
                                    mp3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!--container -->
    </header>
</div>


<main class="container" id="mainIndex">
    <div layout:fragment="content"></div>

</main>
<!-- /container -->


<div class="footer-holder">
    <footer class="container">
        <div class="row">
            <div class="col-md-4">
                <nav class="footer-nav">
                </nav>
                <h2>A Tilos Rádió elérhetőségei</h2>

                <p>adástelefon: 215 3773</p>

                <p>e-mail: <a href="mailto:radio@tilos.hu">radio@tilos.hu</a></p>

                <p>Minden műsorral kapcsolatos kérdésben a Tilos szerkesztőségének írjatok levelet: <a
                        href="mailto:szerkesztoseg@tilos.hu">szerkesztoseg@tilos.hu</a></p>

                <p>A weboldallal kapcsolatos kérdésekben az illetékes: <a href="mailto:webmester@tilos.hu">webmester@tilos.hu</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>A Tilos Rádiót működtető Tilos Kulturális Alapítvány elérhetőségei:</h2>

                <p>
                    A Tilos Rádió egy non-profit közösségi rádió. <br/>
                    Adástelefon: (+361) 2153773<br/>
                    Frekvencia: 90.3Mhz<br/>
                    1085 Budapest, Mária u. 54.<br/>
                    telefon: (+361) 476 8491<br/>
                    fax: (+361) 476 8492<br/>
                    <a href="mailto:radio@tilos.hu">radio@tilos.hu</a><br/>
                    postacím: 1462 Budapest, Pf. 601.<br/><br/>
                    <a href="https://tilos.hu/page/alapitvany">Tilos Kulturális Alapítvány info</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>© 2017. Tilos Rádió -- Minden jog fenntartva</p>
            </div>
        </div>
    </footer>
</div>
<!-- footer-holder -->

</body>
</html>
